@font-face {
    font-family: 'HYWenHei-85W';
    src: url('zh-cn.ttf') format('truetype');
}
.navbar {
    background: linear-gradient(to bottom,black, #0010a3c4);
}
body {
    font-family: 'HYWenHei-85W', sans-serif;
    background-color: #ffe8f1;
}
.navbar button {
    background-color: #FFAFCC;
    border-color: #FFAFCC;
    color: #fadce8;
    margin-right: 20px;
}
.navbar button:hover {
    border-color: #FFAFCC;
    border-style: solid;
    color: #FFAFCC;
}
#button_search {
    background-color: #FFAFCC;
    border-color: #FFAFCC;
    color: #fadce8;
}
#button_search:hover {
    border-color: #FFAFCC;
    border-style: solid;
    color: #FFAFCC;
}

h1 {
    text-align: center;
    padding-bottom: 150px;
}
.carousel-caption {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 400px;
    text-align: center;
    border-radius: 10px;
}
.carousel-caption {
    top: 0;
    bottom: auto;
}
nav {
    padding: 0px;
}
body {
    margin: 0px;
}
/*body { padding-top: 56px; }*/
.container {
    padding: 0px 0px;
}
.dropdown-menu {
    background-color: #ffffff9f;
}
.dropdown-item {
    background-color: rgba(0, 0, 0, 0);
}
.footer_reseaux {
    background-color: #111111;
padding: 20px;

}
.footer_reseaux a {
    width: fit-content;
    max-height: 60px;
    height: 6vw;
}
.footer_reseaux a img {
    margin: 0px 20px;
    height: 5vw;
    max-height: 50px;
}
.footer_reseaux a:hover {
    filter:brightness(1.5);
}
footer {
    background-color: #000;
}
.footer_text  a{
        color: #575757;
        text-decoration: none;
        
}
.footer_text {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    line-height: 2;
}
.footer_text a:hover {
    filter: brightness(1.5);
}
.asso {
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.liste_plan {
    margin-top: 150px;
    margin-left: 10vw;
    padding-bottom: 0%;
}
.liste_plan h1 {
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: left;
}
.liste_plan li:has(h1) {
    list-style-type: none;
}
.liste_plan li a {
    font-size: 1.8em;
}