@font-face {
    font-family: 'HYWenHei-85W';
    src: url('zh-cn.ttf') format('truetype');
}
html {
    font-size: 1.5vw;
}
.navbar {
    background: linear-gradient(to bottom,black, #0010a3c4);
}
body {
    font-family: 'HYWenHei-85W', sans-serif;
    background-color: #ffe8f1;}
h1 {
    text-align: center;
    padding-bottom: 10vw;
    font-size: min(5vw,72px);
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}
h5 {
    font-size: 1.2em;
}
.invis_text {
    color: rgba(0, 0, 0, 0);
}
.haut_de_page {
    background-image: url(media/haut_de_page.png);
    width: 100%;
    height: 341px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
  }
.navbar button {
    background-color: #FFAFCC;
    border-color: #FFAFCC;
    color: #fadce8;
    margin-right: 20px;
}
.navbar button:hover {
    border-color: #FFAFCC;
    border-style: solid;
    color: #FFAFCC;
}
#button_search {
    background-color: #FFAFCC;
    border-color: #FFAFCC;
    color: #fadce8;
}
#button_search:hover {
    border-color: #FFAFCC;
    border-style: solid;
    color: #FFAFCC;
}
.carousel {
    background-color: #ffbfd7;
    margin-bottom: 50px;
}
.carousel-control-next {
    background-color: rgba(93, 198, 236, 0.237);
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
}
.carousel-control-prev {
    background-color: rgba(93, 198, 236, 0.2);
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
    height: 200px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100
}

.carousel-caption {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 400px;
    text-align: center;
    border-radius: 10px;
}
.carousel-caption {
    top: 0;
    bottom: auto;
}
nav {
    padding: 0px;
}
body {
    margin: 0px;
}
.container {
    padding: 0px 0px;
}
.dropdown-menu {
    background-color: #ffffff9f;
}
.dropdown-item {
    background-color: rgba(0, 0, 0, 0);
}
.footer_reseaux {
    background-color: #111111;
    padding: 20px 0px;
    width: 100vw;

}
.footer_reseaux a {
    width: fit-content;
    max-height: 60px;
    height: 6vw;
}
.footer_reseaux a img {
    margin: 0px 20px;
    height: 5vw;
    max-height: 50px;
}
.footer_reseaux a:hover {
    filter:brightness(1.5);
}
footer {
    background-color: #000;
    overflow: hidden;
}
.footer_text  a{
        color: #575757;
        text-decoration: none;
        
}
.footer_text {
    width: 1300px;
    display: grid;
    grid: auto / 1fr 1fr 1fr;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
    line-height: 2;
}
.footer_text a:hover {
    filter: brightness(1.5);
}
.footer_text a {
    margin: 0px 3vw;
}
.asso {
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.footer_text a img {
    max-height: 30px;
    padding-bottom: 3px;
}

/* #region plansite */

.liste_plan {
    margin-left: 10vw;
    padding-bottom: 0%;
    margin-bottom: 80px;
}
.liste_plan h1 {
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: left;
}
.liste_plan li:has(h1) {
    list-style-type: none;
    margin-left: -1vw;
}
.liste_plan li a {
    font-size: 1.8em;
}
/* #endregion plansite */

@media screen and (max-width: 600px) {
    .footer_text {
        grid: auto auto auto / auto;
        text-align: left;
    }
    .footer_text a {
        margin: 0px 0vw;
    }
    .liste_plan li a {
        font-size: 1.5em;
    }
    .liste_plan h1 {
        font-size: 2.5em;
    }
    .tiktok_preview_main div img {
        margin-left: 0px;
    }
}
/* #region tiktok_preview_main */
.tiktok_preview_main div img{
    margin-left: 10vw;
}
.tiktok_preview_main h1 {
    white-space: pre-wrap;
    padding-top: 10vw;
    margin-left: 2vw;
    text-align: left;
    padding-bottom: 0vw;
}
.tiktok_preview_main div h3 {
    margin-top: 3vw;
    margin-left: 2vw;
}
.tiktok_logo_square{
    height: 8vw;
    margin-left: 1vw!important;
}
.tiktok_preview_main {
    margin-bottom: 5vw;
}
.a_tiktok_logo_square:hover {
    filter:opacity(0.7);
}
/* #endregion tiktok_preview_main */

/* #region Contact */

.form_card_contact {
    background-color: #d9c8e8;
    margin-bottom: 8vw;
}
 .form_card_contact .card-header {
    background-color: #c9b5da;
 }
.form_card_contact input::placeholder,.form_card_contact textarea::placeholder {
    color: #919191;
}
.form_card_contact input,.form_card_contact textarea {
    background-color: #ddd0ea;
}

.form_card_contact .card-body {
    display: grid;
    grid: auto auto auto auto auto/auto auto;
    gap: 2vw;
}
.contact_title h1 {
    padding-bottom: 0;
    margin: 0;
}
.contact_title  img{
    width: 55vw;
    padding-bottom: 0;
    margin: 0;
    margin-top: -1vw;
}
.contact_title {
    margin-bottom: 10vw;
}
.largeur2grid1 {
    grid-column: 1/span 2;
}
.largeur3grid1 {
    grid-column: 1/span 3;
}
.radios_contact {
    margin:0 0;
    display: grid;
    grid: auto auto / auto auto auto;
    margin-right: auto;
}
.radios_contact h6{
    grid-row: 1;
    line-height: normal;
    margin-bottom: 0;
}
.submit_contact {
    grid-row: 6;
    background-color: #c9b5da;
}
.submit_contact:hover {
    background-color: #c9b5da;
    filter: brightness(0.9);
}

/* #endregion Contact */

/* #region qui sommes nous */

.container_story {
    
    margin: 0;
    margin-top: 5vw;
    width: 100%;
    background-color: #A2D2FF;
    overflow: hidden;
    margin-bottom: 5vw;
    padding-bottom: 3vw;
}
.container_story_blanc {
    
    margin: 0;
    margin-top: 5vw;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5vw;
    padding-bottom: 3vw;
}
.story_img {
    width: 40vw;
    border-radius: 20px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.semi_paragraph {
    margin-left: 2vw;
    margin-right: 2vw;
    min-width: 200px;
}
.full_paragraph {
    margin-left: 8vw;
    margin-right: 10vw;
}
.container_story div h3 {
    margin-top: 2vw;
}
.container_valeurs {
    
    margin: 0;
    margin-top: 5vw;
    overflow: hidden;
    margin-bottom: 5vw;
    padding-bottom: 3vw;
}
.container_valeurs div div ul li:has(h4){
    margin-left: -1vw;
    list-style-type: none;
}
.container_valeurs div div ul li:has(:not(h4)){
    margin-top: 1vw;
}
.valeurs_img {
    width: 40vw;
    border-radius: 20px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.container_valeurs div div ul{
    margin-left: 1vw;
}
.card_team {
    background-color: #A2D2FF;
    border-top-left-radius: 210px;
    border-top-right-radius: 210px;
    margin-bottom: 8vw;
}
.card_team:hover{
    transform: scale(1.05);
    z-index: 100;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
}
.card_team img {
    border-radius: 100%;
    padding: 0.2vw;
}
.card_team h5 {
    color: #3f474f;
}

/* #endregion qui sommes nous */

/* #region bandes rythmo */

.slider-container {
    margin-top: 3vw;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 2vw;
    background-color: #c9b5da;
    border-radius: 10px;

}
.slider-content {
    display: flex;


}
.slider-content iframe {
    width: 32vw;
    height: 11vw;
    margin: 1vw;
    border-radius: 10px;
}
.slider-content iframe:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
    transition: 250ms;
}
.slider-container h4 {
    margin-top: -5px;
}
.playlist div{
    background-color: #0f0f0f;
    width: 30vw;
    border: none;
    border-radius: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.playlist div div h4 {
    color: #ededed;
}
.playlist div div p {
    color: #a1a1a1;
}
.playlist {
    display: block;
    width: 30vw;
    text-decoration: none;
}
.playlist:hover {
    filter: brightness(0.8);
}
.playlist div img{
    border-radius: 20px;
}
.ytb_colored {
    width: auto;
}
.ytb_colored img {
    width: 15vw;
}
.ytb_colored img:hover {
    filter: brightness(0.8);

}
/* #endregion bandes rythmo */

/* #region demande bandes rythmo */

.ac_body_ul ul li:has(h4){
    margin-left: -1vw;
    list-style-type: none;
}
.ac_body_ul ul li:has(:not(h4)){
    margin-top: 1vw;
}
.ac_body_ul ul{
    margin-left: 1vw;
}
.accordion {
    --bs-accordion-btn-bg: #c9b5da;
    --bs-accordion-active-bg: #ccbddb;
  --bs-accordion-bg: #d9c8e8;
  --accordion-color: #111111;
}
.accordion-button:not(.collapsed) {
    color: #3f474f;
}
.form_card_demande {
    background-color: #d9c8e8;
    margin-bottom: 1vw;
}
 .form_card_demande .card-header {
    background-color: #c9b5da;
 }
.form_card_demande input::placeholder,.form_card_demande textarea::placeholder {
    color: #919191;
}
.form_card_demande input,.form_card_demande textarea {
    background-color: #ddd0ea;
}

.form_card_demande .card-body {
    display: grid;
    grid: auto auto auto auto auto/auto auto;
    gap: 2vw;
}
.contact_title h1 {
    padding-bottom: 0;
    margin: 0;
}
.contact_title  img{
    width: 55vw;
    padding-bottom: 0;
    margin: 0;
    margin-top: -1vw;
}
.contact_title {
    margin-bottom: 10vw;
}
.largeur2grid1 {
    grid-column: 1/span 2;
}
.largeur3grid1 {
    grid-column: 1/span 3;
}
.radios_contact {
    margin:0 0;
    display: grid;
    grid: auto auto / auto auto auto;
    margin-right: auto;
}
.radios_contact h6{
    grid-row: 1;
    line-height: normal;
    margin-bottom: 0;
}
.submit_contact {
    grid-row: 6;
    background-color: #c9b5da;
}
.submit_contact:hover {
    background-color: #c9b5da;
    filter: brightness(0.9);
}
.custom-tooltip {
    --bs-tooltip-bg: #c9b5da;
    --bs-tooltip-color: #111111;
  }
.select_demande {
    background-color: #ddd0ea;
}
.select_demande:hover {
    filter: brightness(0.9);
}
/* #endregion demande bandes rythmo */

/* #region dépot audition */

.salon_audition {
    background-color: #36373c;
    color: #959ba3;
    border-radius: 10px;
}

/* #endregion dépot audition */

.polititi {
    color: white;
}

.newsletter-container {
    max-width: 400px;
    margin: 2vw auto;
    padding: 2vw;
    border: 2px solid #ccbddb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 8vw;
}

.newsletter-container label {
    display: block;
    margin-bottom: 5px;
}

.newsletter-container input,
.newsletter-container button {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.newsletter-container button {
    background-color: #c9b5da;
    color: #36373c;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

/* #region actu */

.anniversaire {
    display: grid;
    grid-row-gap: 1vw;
    grid-template-columns: auto auto auto;
    margin-bottom: 8vw;
}
.carte_anniversaire {
    width: 25vw;
    border-radius: 20px;
    border: solid #c9b5da;
    margin: 1vw;
    padding: 0px;
    overflow: hidden;
}

.carte_anniversaire img{
    width: 25vw;

}
.carte_anniversaire h5 {
    margin: 1vw;
}
.carte_anniversaire p {
    margin-left: 1vw;
}
.margintop2 {
    transform: translateY(2vw);
}
.carte_anniversaire:hover {
    cursor: pointer;
    transform: translateY(-1.2vw);
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}
.bouton_annive {
    margin: 1vw;
    width: 25vw;}
/* #endregion actu */


